{{ addJS('js/base.js') }}
{{ loadREDCapFiles() }}
<link rel="stylesheet" type="text/css" href="{{ getUrl('css/base.css') }}">
<body class="body">
    <div class="header col-md-12">
        <a href="https://edgeforscholars.vumc.org/"><img src="{{ getUrl('img/efs_small.png') }}" class="logoimg"/></a><div class="logotext col-md-10"><a class="header_link" href="https://edgeforscholars.vumc.org/edge-team/team/adrienne-leigh-babcock/" target="_blank">Adrienne Babcock</a> Funded Grants Library</div>
    </div>
    <div class="fulldiv col-md-12">
        <div id="sidebar" class="sidebar col-md-1">
            <p class="textlink"><a href='{{ getUrl('interfaces/grants.php') }}'>Grants</a></p>
            <p class="textlink"><a href='{{ getUrl('interfaces/statistics.php') }}'>Use Statistics</a></p>
            <p class="textlink"><a href='{{ grantProjectPath }}' target='_blank'>Add Your Grant</a></p>
            <p class="textlink"><a href='{{ userProjectPath }}' target='_blank'>Administer Users</a></p>
            <p class="textlink"><a href ="http://projectreporter.nih.gov/reporter.cfm">NIH RePORTER</a></p>
        </div>
        <div id="content" class="content col-md-10">
            {% block page_content %}
            {% endblock %}
        </div>
    </div>

    <footer class="footer">
        <p class="footerline">Edge for Scholars: Making Research Careers Easier</p>
        <p class="textlink smalllink"><a href="mailto:info@edgeforscholars.org">Contact Us</a></p>
    </footer>
</body>
{% block js_block %}
{% endblock %}
